$clr-white: #ffffff;
$clr-white-40: #9F9B88;
$clr-white-80 : #aeb1b2;
$clr-blue : #0181ff;
$clr-gray-10:#7B747C;
$clr-gray-25: #aaabac80;
$clr-gray-50: #414141;
$clr-gray-75: #37393D;
$clr-gray-100: #0a0b0c33;
$clr-black-50 : #1E1E1E;
$clr-black-100: #111;
$clr-shadow:rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
