@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./color-palette";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  list-style: none;
  text-decoration: none;
}

body {
  background: $clr-white;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: $clr-gray-50;
}

::-webkit-scrollbar-thumb {
  background: $clr-blue;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: $clr-blue;
}

.active{
  color: $clr-gray-50;
  background-color: $clr-gray-25;
}