@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin padding-column {
  padding-right: 8rem;
  padding-left: 8rem;
  @media screen and (max-width: 520px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@mixin padding-row($size) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin custom-button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 6px 15px;
}

@mixin custom-card {
  display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    justify-content: space-between;
    grid-row-gap: 2rem;
    grid-column-gap: 0.3rem;
    overflow: hidden;
    @media (max-width: 520px) {
      justify-content: center;
      grid-template-columns: 100%;
    }
}
