@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin padding-column {
  padding-right: 8rem;
  padding-left: 8rem;
  @media screen and (max-width: 520px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@mixin padding-row($size) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin custom-button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 6px 15px;
}

@mixin custom-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 1.5rem;
  justify-content: space-between;
  @media screen and (max-width: 520px) {
    justify-content: center;
  }
}
